$font-color: white;
$dark-overlay: rgba(0, 0, 0, 0.1);

$content-background: #392e36;
$content-background-dark: #282227;
$content-background-light: #553e3e;
$sidebar-background: $content-background;

// !! TODO: deprecade card-color
$card-color: $content-background-light;

$gradient-light: #714848;
$gradient-dark: #4d3b3b;
$gradient-backup: #644343;

$green: #19a24b;
$green-loading: #189446;
$green-disabled: #178640;

$red: #ca4040;
$red-loading: #b03e3e;
$red-disabled: #992f2f;

$blue: #44a7d9;
$blue-loading: #3290bf;
$blue-disabled: #1c77a4;
