$page-color: #291818;
$font-color: white;
$card-color: transparentize(#773632, 0.7);
$dark-overlay: rgba(0, 0, 0, 0.1);

$top-bar-background: #5b3431;
// $content-background: #412625;

$content-background: rgb(91, 46, 46);
$sidebar-background: $content-background;
$content-background: radial-gradient(at top right, #5b2e2e 30%, #432625 100%);

$gradient-dark: #603433;
$gradient-light: #8a3c3c;
$decoration-fill: #7a3939;

$green: #19a24b;
$red: #d54545;
$blue: #2490c6;
