@import './colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,700&display=swap');
@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');

$margin-xs: 8px;
$margin-s: 14px;
$margin-m: 20px;
$margin-l: 28px;
$margin-xl: 36px;
$margin-xxl: 44px;

$max-width: 1600px + ($margin-xxl * 2);

$breakpoint-xs: 576px;
$breakpoint-s: 768px;
$breakpoint-m: 992px;
$breakpoint-l: 1200px;

$font-size-caption: 14px;
$font-size-body: 18px;
$font-size-title: 28px;
$font-size-footer: 16px;
$icon-size: 18pt;

$border-radius-s: 8px;
$border-radius-m: 16px;
$border-radius-l: 32px;

$header-height: 70px;

$box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
$box-shadow-light: 0px 4px 3px 0px rgba(0, 0, 0, 0.1);
$box-shadow-big: 0px 5px 10px 5px rgba(0, 0, 0, 0.05);
$box-shadow-big-dark: 0px 5px 10px 5px rgba(0, 0, 0, 0.15);
